<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>取模</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/static/res/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/res/adminui/dist/css/admin.css}" media="all">
    <style>
        .layui-card {
            width: 100%; /* 设置卡片宽度为100% */
            height: 100vh; /* 设置卡片高度为视口高度 */
            margin: 0; /* 可以移除卡片的外边距，以确保充满整个页面 */
            padding: 0; /* 可以移除卡片的内边距，以确保充满整个页面 */
            box-sizing: border-box; /* 让边框和内边距计算在卡片的宽度和高度内 */
        }

        #form-container {
            background-color: #ffffff; /* 设置背景颜色为白色 */
            padding: 20px; /* 可选，添加内边距以增加容器内部的填充 */
        }
    </style>
</head>
<body>

<div id="form-container"></div>

<div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="component-form-group">
            <input name="id" id="id-input" class="layui-input layui-hide" th:value="${impression?.id}"/>
            <input name="medicalrecordid" id="id-input2" class="layui-input layui-hide" th:value="${impression?.medicalRecordId}"/>


            <div class="layui-form-item " style="padding-left: 30px">
                <div class="layui-input-group">
                    <div class="layui-input-prefix" >
                        日期
                    </div>
                    <input type="text" name="recordDate" lay-verify="required" autocomplete="off" class="layui-input" id="birthdate-input">
                </div>
            </div>

            <div class="layui-form-item" style="padding-left: 30px">
                <div class="layui-input-group">
                    <div class="layui-input-prefix" >
                        操作医生
                    </div>
                    <input type="text"  name="doctorName" lay-verify="required" placeholder="请输入操作医生" autocomplete="off" class="layui-input" maxlength="18">
                </div>
            </div>


            <div class="layui-form-item" >
                <label class="layui-form-label">交班记录</label>
                <div class="layui-input-block">
                    <textarea  type="text" name="record"  placeholder="请填写交班记录" autocomplete="off" class="layui-textarea" id="edit"></textarea>
                </div>
            </div>




            <div class="layui-form-item" style="padding-left: 30px">
                <div class="layui-input-group">
                    <div class="layui-input-prefix" >
                        取模方式
                    </div>
                    <select name="impressionMethod" lay-verify="impressionMethod">
                        <option value="" selected>请选择取模方式</option>
                        <option value="开窗式" >开窗式</option>
                        <option value="闭窗式" >闭窗式</option>
                        <option value="数字化取模" >数字化取模</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item" style="padding-left: 30px">
                <div class="layui-input-group">
                    <div class="layui-input-prefix" >
                        是否多牙取模
                    </div>
                    <select name="impressionConsent" lay-verify="required">
                        <option value="" selected>请选择是否多牙取模</option>
                        <option value="是" >是</option>
                        <option value="否" >否</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item" style="padding-left: 30px">
                <div class="layui-input-group">
                    <div class="layui-input-prefix" >
                        比色色号
                    </div>
                    <input type="text" name="impressionColorimetry"  placeholder="请输入比色色号" autocomplete="off" class="layui-input" >
                </div>
            </div>

            <div class="layui-form-item" style="padding-left: 30px">
                <div class="layui-input-group">
                    <div class="layui-input-prefix" >
                        伤口愈合情况
                    </div>
                    <select name="impressionAttitude" lay-verify="required">
                        <option value="" selected>请选择</option>
                        <option value="良好">良好</option>
                        <option value="一般">一般</option>
                        <option value="差">差</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="patientEditBasic">提交</button>
                </div>
            </div>

        </form>
    </div>
</div>
<script th:src="@{/static/res/layui/layui.js}"></script>
<!--<script th:src="@{/static/layui/lay/modules/laydate.js}"></script>-->
<!--日期渲染器-->
<script>
    layui.use('laydate', function() {
        var laydate = layui.laydate;

        // 设置出生年月输入框的laydate
        laydate.render({
            elem: '#birthdate-input',
            type: 'date',
            //format: 'yyyy-MM',
            trigger: 'click',  // 设置触发方式为点击文本
            //theme: '#393d49'
            // 如果需要，可以添加更多选项
        });
    });
</script>
<!--表单提交按钮事件-->
<script>

    layui.use(['form'], function () {
        var form = layui.form;
        var $ = layui.$;

        // 监听提交按钮的点击事件
        form.on('submit(patientEditBasic)', function (data) {
            // 阻止表单的默认提交行为
            var event = window.event || arguments.callee.caller.arguments[0];
            event.preventDefault();
            if ( edit.getContent() === '') {
                layer.msg('交班记录不可为空', {icon: 5});
                return false;
            }
            // TODO: 将impressionAttitude改名为伤口愈合情况？
            var impressionMessage = {
                impressionMethod: data.field["impressionMethod"],
                impressionConsent: data.field["impressionConsent"],
                impressionColorimetry: data.field["impressionColorimetry"],
                impressionAttitude: data.field["impressionAttitude"]
            }
            // 拼接发送到后端的数据
            var handoverRecord = {
                record: edit.getContent(),
                doctorName: data.field["doctorName"],
                recordDate: data.field["recordDate"],
                patientId: [[${patientId}]],
                stage: "impression",
                impressionMessage: impressionMessage
            }

            console.log(JSON.stringify(handoverRecord));
            $.ajax({
                url: '/patientManagement/handoverRecordEdit',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(handoverRecord),
                success: function (str) {
                    layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>
<!--富文本编辑-->
<script>
    var edit;
    layui.extend({
        tinymce: '/static/layui_exts/tinymce/tinymce'
    }).use(['tinymce', 'util', 'layer'], function () {
        var t = layui.tinymce
            , util = layui.util
            , layer = layui.layer
            , $ = layui.$

        edit = t.render({
            elem: "#edit",
            height: 300,
            menubar: false, // 禁用菜单栏
            toolbar:'undo redo | forecolor backcolor bold italic underline strikethrough | indent2em alignleft aligncenter alignright    | link bullist numlist   | formatselect  fontsizeselect',
            // 其余配置可参考官方文档
        },function(opt,edit){
            //加载完成后回调
        });



    });


</script>

<!--addform-->
<script>
    //展开隐藏按钮函数
    function toggleFormVisibility(formId) {
        var form = document.getElementById(formId);
        if (form.style.display === "none" || form.style.display === "") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }

    // 提交表单的函数
    function submitForm(formId) {
        var form = document.getElementById(formId);
        var editorContent = tinymce.get('record-input' + formId).getContent(); // 获取富文本编辑器的内容
        var formData = new FormData(form);
        formData.append('record', editorContent); // 将富文本内容添加到表单数据
        $.ajax({
            url: '/patientManagement/patientPlanEdit',
            type: 'POST',
            data: formData,
            processData: false, // 防止jQuery处理数据
            contentType: false, // 防止jQuery设置Content-Type
            success: function (str) {
                layer.msg(str.msg, { icon: str.icon, anim: str.anim });
            }
        });
    }
    function createInputField(data, name, labelText) {
        var inputDiv = document.createElement("div");
        inputDiv.classList.add("layui-input-group", "layui-form-item");
        inputDiv.style.paddingLeft = "30px";

        var prefix = document.createElement("div");
        prefix.classList.add("layui-input-prefix");
        prefix.textContent = labelText;

        var input = document.createElement("input");
        input.type = "text";
        input.name = name;
        input.value = data;
        // input.id = name + "-input" + data.id;
        input.classList.add("layui-input");

        inputDiv.appendChild(prefix);
        inputDiv.appendChild(input);

        return inputDiv;
    }

    function addDynamicForm(data, recordDate) {


        var formId = "impression-form-" + data.id;
        console.log(formId);
        // Create a button to show/hide the form
        var toggleButton = document.createElement("button");
        toggleButton.textContent = data.recordDate;
        toggleButton.style.marginLeft = "30px"; // 设置按钮的左外边距为30px
        toggleButton.style.marginBottom = "15px"; // 设置按钮的左外边距为30px
        toggleButton.addEventListener("click", function () {
            toggleFormVisibility(formId);
        });

        // Append the toggle button to the form-container
        var formContainer = document.getElementById("form-container");
        formContainer.appendChild(toggleButton);

        // Create the form div and set its attributes
        var newForm = document.createElement("div");
        newForm.id = formId;
        newForm.style.display = "none"; // Initially hide the form
        // 如果携带日期参数则显示该日期的交班记录
        if (recordDate && recordDate == data.recordDate) {
            newForm.style.display = "block";
        }
        // 创建一个新的表单元素
        //var newForm = document.createElement("form");
        newForm.classList.add("layui-form"); // 添加Layui的表单类，以便使用Layui的样式和验证

        // 创建深色分割线
        var separatorLine = document.createElement("hr");
        separatorLine.classList.add("layui-border-black"); // 添加Layui的深色分割线类

        // 创建输入框：日期
        var dateInputDiv = document.createElement("div");
        dateInputDiv.classList.add("layui-input-group", "layui-form-item");
        dateInputDiv.style.paddingLeft = "30px"; // 设置左侧内边距

        // 创建日期标签的前缀
        var dateLabelPrefix = document.createElement("div");
        dateLabelPrefix.classList.add("layui-input-prefix");
        dateLabelPrefix.textContent = "日期";

        var dateInput = document.createElement("input");
        dateInput.type = "text";
        dateInput.name = "recordDate";
        dateInput.value = data.recordDate;
        dateInput.id = "birthdate-input";
        dateInput.classList.add("layui-input");
        //dateInput.id = "date-input" + data.id; // 使用唯一的ID以区分不同表单项
        dateInputDiv.appendChild(dateLabelPrefix);
        dateInputDiv.appendChild(dateInput);

        newForm.appendChild(dateInputDiv);

        // 创建输入框：操作医生
        var doctorInputDiv = document.createElement("div");
        doctorInputDiv.classList.add("layui-input-group", "layui-form-item");
        doctorInputDiv.style.paddingLeft = "30px"; // 设置左侧内边距

        // 创建操作医生标签
        var doctorPrefix = document.createElement("div");
        doctorPrefix.classList.add("layui-input-prefix");
        doctorPrefix.textContent = "操作医生";

        var doctorInput = document.createElement("input");
        doctorInput.type = "text";
        doctorInput.name = "doctorName";
        doctorInput.value = data.doctorName;
        doctorInput.id = "doctor-input" + data.id;
        doctorInput.classList.add("layui-input");

        doctorInputDiv.appendChild(doctorPrefix);
        doctorInputDiv.appendChild(doctorInput);

        newForm.appendChild(doctorInputDiv);

        // 创建文本框：交班记录
        var recordTextareaDiv = document.createElement("div");
        recordTextareaDiv.classList.add("layui-form-item");

        var recordTextareaLabel = document.createElement("label");
        recordTextareaLabel.classList.add("layui-form-label");
        recordTextareaLabel.textContent = "交班记录";
        recordTextareaDiv.appendChild(recordTextareaLabel);

        var recordTextareaBlock = document.createElement("div");
        recordTextareaBlock.classList.add("layui-input-block");

        var recordTextarea = document.createElement("textarea");
        recordTextarea.name = "record";
        recordTextarea.value = data.record;
        recordTextarea.id = "record-input" + data.id;
        recordTextarea.classList.add("layui-textarea");
        recordTextareaBlock.appendChild(recordTextarea);

        recordTextareaDiv.appendChild(recordTextareaBlock);

        newForm.appendChild(recordTextareaDiv);

        // 取模方式
        newForm.appendChild(createInputField(data.impressionMethod, "impressionMethod", "取模方式"));
        // 是否多牙取模
        newForm.appendChild(createInputField(data.impressionConsent, "impressionConsent", "是否多牙取模"));
        // 比色色号
        newForm.appendChild(createInputField(data.impressionColorimetry, "impressionColorimetry", "比色色号"));
        // 伤口愈合情况
        newForm.appendChild(createInputField(data.impressionAttitude, "impressionAttitude", "伤口愈合情况"));


        // // 创建取模方式
        // var impressionMethod = document.createElement("div");
        // impressionMethod.classList.add("layui-input-group", "layui-form-item");
        // impressionMethod.style.paddingLeft = "30px"; // 设置左侧内边距
        //
        //
        // var impressionMethodPrefix = document.createElement("div");
        // impressionMethodPrefix.classList.add("layui-input-prefix");
        // impressionMethodPrefix.textContent = "取模方式";
        //
        // // 创建下拉框
        // var impressionMethodSelect = document.createElement("select");
        // impressionMethodSelect.name = "impressionMethod";
        // impressionMethodSelect.setAttribute("lay-verify", "required");
        //
        // // 添加选项到下拉框，以及相应的数据绑定
        // var impressionMethodOptions = [
        //     { text: "开窗式", value: "开窗式" },
        //     { text: "闭窗式", value: "闭窗式" },
        //     { text: "数字化取模", value: "数字化取模" },
        // ];
        //
        // for (var i = 0; i < impressionMethodOptions.length; i++) {
        //     var impressionMethodoption = document.createElement("option");
        //     impressionMethodoption.textContent = impressionMethodOptions[i].text;
        //     impressionMethodoption.value = impressionMethodOptions[i].value;
        //     if (data.impressionMethod === impressionMethodOptions[i].value) {
        //         impressionMethodoption.selected = true;
        //     }
        //     impressionMethodSelect.appendChild(impressionMethodoption);
        // }
        //
        // impressionMethod.appendChild(impressionMethodPrefix);
        // impressionMethod.appendChild(impressionMethodSelect);
        //
        // newForm.appendChild(impressionMethod);
        //
        //
        //
        // // 创建选择框:是否多牙取模
        // var impressionConsent = document.createElement("div");
        // impressionConsent.classList.add("layui-input-group", "layui-form-item");
        // impressionConsent.style.paddingLeft = "30px";
        //
        //
        // var impressionConsentPrefix = document.createElement("div");
        // impressionConsentPrefix.classList.add("layui-input-prefix");
        // impressionConsentPrefix.textContent = "是否多牙取模";
        //
        //
        // var impressionConsentSelect = document.createElement("select");
        // impressionConsentSelect.name = "impressionConsent";
        // impressionConsentSelect.setAttribute("lay-verify", "required");
        //
        // // 添加选项到下拉框，以及相应的数据绑定
        // var impressionConsentOptions = [
        //     { text: "是", value: "是" },
        //     { text: "否", value: "否" }
        // ];
        //
        // for (var j = 0; j < impressionConsentOptions.length; j++) {
        //     var impressionConsentoption = document.createElement("option");
        //     impressionConsentoption.textContent = impressionConsentOptions[j].text;
        //     impressionConsentoption.value = impressionConsentOptions[j].value;
        //     if (data.impressionConsent === impressionConsentOptions[j].value) {
        //         impressionConsentoption.selected = true;
        //     }
        //     impressionConsentSelect.appendChild(impressionConsentoption);
        // }
        //
        //
        // impressionConsent.appendChild(impressionConsentPrefix);
        // impressionConsent.appendChild(impressionConsentSelect);
        //
        // newForm.appendChild(impressionConsent);
        //
        // // 创建输入框：比色色号
        // var impressionColorimetry = document.createElement("div");
        // impressionColorimetry.classList.add("layui-input-group", "layui-form-item");
        // impressionColorimetry.style.paddingLeft = "30px"; // 设置左侧内边距
        //
        // // 创建操作医生标签
        // var impressionColorimetryPrefix = document.createElement("div");
        // impressionColorimetryPrefix.classList.add("layui-input-prefix");
        // impressionColorimetryPrefix.textContent = "比色色号";
        //
        // var impressionColorimetryInput = document.createElement("input");
        // impressionColorimetryInput.type = "text";
        // impressionColorimetryInput.name = "impressionColorimetry";
        // impressionColorimetryInput.value = data.impressionColorimetry;
        // impressionColorimetryInput.id = "impressionColorimetry-input" + data.id;
        // impressionColorimetryInput.classList.add("layui-input");
        //
        // impressionColorimetry.appendChild(impressionColorimetryPrefix);
        // impressionColorimetry.appendChild(impressionColorimetryInput);
        //
        // newForm.appendChild(impressionColorimetry);
        //
        // // 创建选择框:伤口愈合情况
        // var impressionAttitude = document.createElement("div");
        // impressionAttitude.classList.add("layui-input-group", "layui-form-item");
        // impressionAttitude.style.paddingLeft = "30px";
        //
        // // 创建种植态度的前缀
        // var impressionAttitudePrefix = document.createElement("div");
        // impressionAttitudePrefix.classList.add("layui-input-prefix");
        // impressionAttitudePrefix.textContent = "伤口愈合情况";
        //
        // // 创建下拉框
        // var impressionAttitudeSelect = document.createElement("select");
        // impressionAttitudeSelect.name = "impressionAttitude";
        // impressionAttitudeSelect.setAttribute("lay-verify", "required");
        //
        // // 添加选项到下拉框，以及相应的数据绑定
        // var impressionAttitudeOptions = [
        //     { text: "积极", value: "积极" },
        //     { text: "问题多", value: "问题多" },
        //     { text: "在乎费用", value: "在乎费用" }
        // ];
        //
        // for (var k = 0; k < impressionAttitudeOptions.length; k++) {
        //     var impressionAttitudeoption = document.createElement("option");
        //     impressionAttitudeoption.textContent = impressionAttitudeOptions[k].text;
        //     impressionAttitudeoption.value = impressionAttitudeOptions[k].value;
        //     if (data.impressionAttitude === impressionAttitudeOptions[k].value) {
        //         impressionAttitudeoption.selected = true;
        //     }
        //     impressionAttitudeSelect.appendChild(impressionAttitudeoption);
        // }
        //
        // // 将谈方案标签的前缀、下拉框和标签添加到谈方案
        // impressionAttitude.appendChild(impressionAttitudePrefix);
        // impressionAttitude.appendChild(impressionAttitudeSelect);
        //
        // // 将谈方案添加到表单
        // newForm.appendChild(impressionAttitude);

        //提交按钮
        var submitButton = document.createElement("button");
        submitButton.textContent = "提交";
        submitButton.classList.add("layui-btn");
        submitButton.setAttribute("lay-submit", "");
        submitButton.setAttribute("lay-filter", "submitForm");
        submitButton.style.marginLeft = "30px"; // 设置按钮的左外边距为30px
        submitButton.addEventListener("click", function () {
            submitForm(formId);
        });

        newForm.appendChild(submitButton);

        //在表单结尾添加分割线
        newForm.appendChild(separatorLine);


        // 最后，将新表单添加到页面中
        //var formContainer = document.getElementById("form-container");
        formContainer.appendChild(newForm);

        layui.extend({
            tinymce: '/static/layui_exts/tinymce/tinymce'
        }).use(['tinymce', 'util', 'layer'], function () {
            var t = layui.tinymce
                , util = layui.util
                , layer = layui.layer
                , $ = layui.$

            var textareaId = "record-input" + data.id;

            var edit = t.render({
                elem: "#"+textareaId,
                height: 300,
                menubar: false, // 禁用菜单栏
                toolbar:'undo redo | forecolor backcolor bold italic underline strikethrough | indent2em alignleft aligncenter alignright    | link bullist numlist   | formatselect  fontsizeselect',
                // 其余配置可参考官方文档
            },function(opt,edit){
                //加载完成后回调
            });



        });

        // 使用layui的form模块重新渲染表单，确保动态生成的表单能够被Layui正常处理
        /*            layui.use('form', function() {
                        layui.form.render('select'); // 如果有下拉框需要重新渲染
                    });*/
    }

</script>
<script>
    layui.use(function (){
        var $ = layui.$;
        $.ajax({
            url: '/patientManagement/handoverRecord' + "?patientId=" + [[${patientId}]] + "&stage=impression",
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                console.log(data);
                var serverData = [];
                var cnt = 1;
                data['data'].forEach(function (item) {
                    cnt++;
                    var record = {
                        id: cnt,
                        ...item,
                        ...item['impressionMessage']
                    } ;
                    delete record['impressionMessage'];

                    serverData.push(record);
                });
                // 遍历数据并动态生成表单
                for (var i = 0; i < serverData.length; i++) {
                    addDynamicForm(serverData[i], '[[${recordDate}]]');
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    });
    // 假设serverData是从后端获取的多份数据
    // var serverData = [
    //     {
    //         id: "1", // 唯一的ID，可根据需要自定义
    //         recordDate: "2022-11-29",
    //         doctorName: "John Doe",
    //         record: "这是交班记录的内容。",
    //         impressionMethod: "数字化取模",
    //         impressionConsent: "是",
    //         impressionColorimetry: "A123",
    //         impressionAttitude: "良好"
    //     },
    //     // 更多数据...
    // ];
    //
    // // 遍历数据并动态生成表单
    // for (var i = 0; i < serverData.length; i++) {
    //     addDynamicForm(serverData[i]);
    //     console.log(i);
    // }
</script>

</body>
</html>